@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<br />
After "update-database" please use default login
<ul>
    <li>admin@example.com/admin1</li>
    <li>user1@example.com/user1</li>
</ul>
